@if (loggedIn()) {
  <div class="gradient"></div>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="logmk-128.png" alt="LogMkWeb Logo" width="64" height="64" class="d-inline-block align-text-top" />
      </a>
      @if (templateRef()) {
        <ng-container class="toolbar" *ngTemplateOutlet="templateRef()"></ng-container>
      }
      <app-user-menu></app-user-menu>
    </div>
  </nav>

  <div class="scroll-box">
    <div class="scroller">
      <router-outlet />
    </div>
  </div>
}
