@if (loggedIn()) {
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-brand">
        <img src="logmk-128.png" alt="LogMkWeb Logo" width="48" height="48" />
        <span class="brand-text">LogMk</span>
      </div>

      @if (templateRef()) {
        <div class="navbar-content">
          <ng-container [ngTemplateOutlet]="templateRef()"></ng-container>
        </div>
      }

      <div class="navbar-actions">
        <app-user-menu></app-user-menu>
      </div>
    </div>
  </nav>

  <div class="scroll-box">
    <div class="scroller">
      <router-outlet />
    </div>
  </div>
} @else {
  <router-outlet />
}

<app-modal></app-modal>
