:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: linear-gradient(135deg, #1e1f29, #3c3d51);

    .scroll-box {

        flex-grow: 1;
        position: relative;

        .scroller {
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            overflow-y: auto;
        }
    }
}