.dropdown-toggle {
  cursor: pointer;
}

.dropdown-toggle:after {
  content: none;
}

.user-menu {
  width: 354px;
  text-align: center;
  z-index: 100019;

  .user-menu-info {
    margin: 20px 33px;

    .basic-info {
      text-align: center;
      padding-top: 5px;
      padding-bottom: 8px;

      .u-name {

        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.29px;
        margin: 0;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .u-email {
        color: #5f6368;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: normal;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 10px;
      }
    }
  }

  .btn.signout {
    font-weight: 500;
    font-size: 14px;
    margin: 15px;
    padding: 10px 24px;
  }

  .user-submenu-container {
    max-height: 500px;
    overflow-y: auto;
  }
}

.dropdown-menu {
  border: 1px solid var(--border-color);
  -webkit-box-shadow: 3px 2px 21px -3px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 3px 2px 21px -3px rgba(0, 0, 0, 0.31);
  box-shadow: 3px 2px 21px -3px rgba(0, 0, 0, 0.31);
}

.avatar-spacer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-wrap {
  position: relative;
  width: auto;
  height: auto;

  .p-icon-wrap {
    background: #fff;
    bottom: 0;
    position: absolute;
    right: 0;
    overflow: visible;
    height: 32px;
    width: 32px;
    border-radius: 50%;

    >div {
      bottom: 0;
      -webkit-box-shadow:
        0 1px 1px 0 rgba(65, 69, 73, 0.3),
        0 1px 3px 1px rgba(65, 69, 73, 0.15);
      box-shadow:
        0 1px 1px 0 rgba(65, 69, 73, 0.3),
        0 1px 3px 1px rgba(65, 69, 73, 0.15);
      margin: 0 2.5px 2px;
      outline: 0;
      position: absolute;
      right: 0;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      padding-top: 1px;
      padding-left: 1px;
      cursor: pointer;

      fa-icon {
        font-size: 1rem;
      }

      &:hover {
        color: theme-color-level("primary");
      }
    }
  }
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-wrap {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 64px;
  height: 64px;

  .pic-icon {
    display: block;
    background-color: rgba(32, 33, 36, 0.6);
    bottom: 0;
    height: 33%;
    left: 0;
    position: absolute;
    right: 0;

    i {
      margin-left: 26px;
      height: 100%;
      opacity: 0.8;
      color: white;
    }
  }
}