@use "../variables.scss";

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: variables.$ng-select-input-text;
    font-weight: 600;

}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: variables.$ng-select-highlight;
    color: var(--bs-body-color);
}

.ng-select .ng-clear-wrapper,
.ng-select .ng-arrow-wrapper .ng-arrow {
    border-top-color: var(--bs-body-color);
}

.ng-select .ng-select-container,
.ng-select.ng-select-opened>.ng-select-container {

    border: var(--bs-border-width) solid var(--bs-border-color);
    background-color: var(--bs-body-bg);
}