:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.log-viewport {
  display: flex;
  flex-direction: column;
  flex-grow: 1;


}

::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) 1fr;
    gap: 5px;
  }
}

.log-item {
  padding: 2px 10px;
  opacity: 1;
  font-family: "Lucida Console", "Courier New", monospace;
  //animation: fadeIn 1s;
  display: contents;
  flex-direction: row;
  gap: 10px;



  &.line {
    color: #CCC;
    word-break: normal;
    grid-column: 3;
  }

  .time {
    grid-column: 1;
    color: var(--cyan);
    text-wrap: nowrap;
  }

  .pod {
    grid-column: 2;
    color: var(--orange)
  }

  .Warning {
    color: var(--yellow);
  }

  .Error {
    color: var(--red);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}